

:root{
  --dark:#101922;
}
*{
  padding: 0; 
 margin: 0 ;
  box-sizing: border-box;
}

body{
  max-width: 100vw;
  /* background-color: #0c1016 ; */

  font-family: "Outfit", sans-serif;
  text-align: center;
}

.ad img{
  justify-content: center;
  display: inline-flex;
  width: 90%;
  max-width: 400px;
  bottom: 0;
margin-top: 30px;  left: 50px;

border-radius: 12px;

  /* max-height: 100px; */
}


button{
  border: none;
  background-color:#05c560;
  color: #05c560;
  padding: 8px 59px;
  border-radius: 12px;
  margin: 1rem;
  display: flex;
  font-size: 1rem;
  
}

#demo{
  background-color: #05c55f0e;
  padding: 22px 12px;
  font-size: 1.5rem;
  border-radius: 8px;
  font-weight: 500;
}

.ri-download-line{
  margin-left: 12px;
  font-size: 1.2rem;
}

strong{
  font-weight: 400;
}

.container{
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  place-items: center;
padding: 20px 5px;
  margin-top: .8rem;
  width: 400px;
  max-width: 90%;
  border: 1px solid rgb(255, 255, 255);
  height: 500px;
  border: 1px solid rgb(246, 248, 255);
  border-radius: 12px;
  color: #101922;
  box-shadow: rgba(50, 50, 93, 0.15) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

header{
 border: 1px solid rgb(236, 240, 244);
 padding: 5px 8px;
 border-radius: 1rem;
 background-color: #f6fbff;
  font-size: .8rem;
  margin-top: 1rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  display: block;
  gap: 1rem;
}

.ri-github-fill{
  margin-right: .5rem;
}


.ri-folder-image-line  {
  font-size: 4rem;
  margin: 0 auto;
 /* border: 1px solid #05c560;
 border-radius: 12px; */
}



.file-info{
  padding: 12px 0px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  border-radius: 12px;
 
}

.file-info p{
  font-size: .9rem;
margin-top: 8px;
  background-color: #05c55f0c;
  padding: 5px;
  border-bottom: 1px solid #05c560;
}


.ri-lock-line
{
 display: inline-flex;
font-size: 1rem;
background-color: rgba(250, 7, 7, 0.561);
height: 40px;
width: 40px;
align-items: center;
justify-content: center;
border-radius: 50%;
margin: auto;
transform: scale(1);
	animation: pulse 2s infinite;
  color: #f6fbff;

}

.ri-lock-unlock-line{
  
    display: inline-flex;
   font-size: 1rem;
   height: 40px;
   width: 40px;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   margin: auto;
   transform: scale(1);
     animation: bounce 2s infinite;
     color: #f6fbff;
   
   }


p{
  font-weight: 200;
  margin: .6rem;
}

h1{
  font-size: 1rem;
  font-weight: 400;
  display: block;
  width: 90%;
  justify-content: center;
  margin-top: 1rem;
  font-size: 1.5rem
}

a{
  text-decoration: none;
  color: white;
}

h4{
  font-size: 1rem;
  font-weight: 400;
  justify-content: center;
  /* margin-top: 0.5rem; */
 background-color: #05c560;
 padding: 12px 12px;
 /* color: var(--dark); */
 color: white;
}

.bottom{
  display: flex;
  gap: 1rem;
  padding-bottom: 2rem;
}

.download-issues a{
  cursor: pointer;
  color: rgb(27, 61, 251);
  font-weight: 600;
  border-bottom: 1px solid rgb(27, 61, 251);
}


@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(226, 10, 10, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(234, 22, 22, 0);
	}
}


@keyframes bounce {
	0% {
		transform: scale(0.95);
		
	}

	70% {
		transform: scale(1.2);
		
	}

	100% {
		transform: scale(0.95);
	
	}
}